#V2Main-Layout{
    width: 80%;
    margin: 0 auto;
}
#V2Main-Layout>#V2Main-Container{
    
    width: 80%;
    margin: 5% auto;
    
}
#V2Main-Layout>#V2Main-Container>#V2Witty-Container{
    background-color: #EFF2F5;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}