#menuBar_Layout{
    width: 100%;
    margin: auto;
}

#menuBar{
    width: 80%;
    height: 50px;
    background-color: #eee;
    margin: 0px auto;
    margin-bottom: 1%;
    
}
#menuBar button{
    width: 25%;
    height: 50px;
    margin: 0px; padding: 0px;
    border: none;
}
img{
    width: 30px;
    opacity: 40%;
}
img:hover{
    opacity: 70%;
}
img:active{
    opacity: 90%;
}