#bar{
    position: relative;
}
#bar .searchBar{
    width: 360px;
    height: 40px;
    padding-left: 20px;
    padding-right: 60px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    background-color: #f3f3f3;
}
#bar .searchBar::placeholder{
    font-size: 90%;
    opacity: 50%;
}
#bar .searchBar:focus{
    outline: 2px solid #ddd;
}
#btnSearch{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;
    left: 400px;
    font-size: 26px;
    opacity: 20%;
    background-image: url("../../img/search.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
#btnSearch:hover{
    opacity: 70%;
}
#btnSearch:active{
    opacity: 90%;
}