.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    justify-content: center;
}


#V2Witty-Container > div > div:nth-child(3) > div > div.ant-collapse-content.ant-collapse-content-active > div{
    background-color: #126889;
}

#V2Witty-Container > div > div:nth-child(6) > div > div.ant-collapse-content.ant-collapse-content-active > div{
    background-color: #004864;
}
.ant-upload-picture-card-wrapper{
    margin-top: 10px;
    display: inline-block;
    width: auto;
}
.ant-layout-header{
    background-color: #f0f2f5;
    border-bottom: 1px solid #AAAAAA;
}/*프로필 상단 profile 글자 부분*/
.ant-layout-content{
    
    padding-bottom: 15px;
    border-bottom: 5px solid white;
}
.ant-layout-footer{
    padding: 24px 0px;
}
