.Left-main-body {
  height: 100%;
  width: 50%;
  background-color: blue;
}
.Left-main-img {
  height: 100%;
  width: 100%;
}
.Left-main-logo {
  position: absolute;
  top: -20%;
  left: 10%;
  /* 반응형.. 공부요망..*/
}
